/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';


#avatar {
  border-radius: 50%;
}

html {
  height: 100%;
}
body {
  background-image: url('./cyclist.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#bitcoin {
  background-image: url('./golddollar.png');
  background-size: cover;
  background-position: fixed;
  height: 120px;
  width: 120px;
  margin-top: 40vh;
  margin-left: 350px;
  animation-name:rotate_animation;
  animation-duration: 15s;
  animation-delay:0s;
  animation-iteration-count: infinite;
}

@keyframes rotate_animation {
  0% {transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}




//   -webkit-animation:spin 4s linear infinite;
//   -moz-animation:spin 4s linear infinite;
//   animation:spin 4s linear infinite;
// }
// z-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
// @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
// @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
