<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Cycle2Save', root_path  %>

        <!-- <a class="navbar-brand" href="#">Cycle2Save</a> -->
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Sign In with Strava', sign_in_with_strava_path %></li>
      </ul>
    </div>
  </div>
</nav>
